body, html{
    margin: 0;
    height: 100%;
}


.containerLogin{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.containerLogin h1{
    color: orange;
}

.containerInput form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 5rem;
}

.containerInput form button{
    border-radius: 5px;
    border: none;
    color: white;
    background-color: orange;
    padding: 1vh 1vh;
}

input{
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
}
input:focus, select:focus{
    border-color: orange;
}

.containerRodape{
    text-align: center;
}
.containerRodape:hover{
    font-style: italic;
}
.containerRodape a{
    text-decoration: none;
    color: black;
}

span.cadastro{
    color: orange;
    text-decoration: underline;
}

.containerHome{
    height: 100%;
    display: block;
}
.containerHome header{
    margin: 0 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.noMovies{
    font-size: 6vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    text-align: center;
    padding: 5vh 10vw;
}

.movieCardContainer{
    display: flex;
    padding: 8px 15px;
    align-items: center;
}
.movieCardContainer img{
    max-width: 25vw;
    border-radius: 5%;
}
.movieCardContainer h3{
    margin-left: 15px;
}
.searchMovieContainer{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: gray;
    border-radius: 5px;
    margin: 5px;

    padding: 0 15px;
}
.searchMovieContainer button{
    border: none;
    border-radius: 10px;
    background-color: black;
    color: white;

    padding: 10px;
}

.movieReviewCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.movieReviewCard .movieCardContainer{
    flex-direction: column;
    height: 100%;
}
.movieReviewCard .movieCardContainer img{
    max-width: 100%;
}
.movieReviewCard .movieCardContainer h3{
    margin-left: 0;
}

@media only screen and (min-width: 600px)  {

}